$white-background: #fff;
$white-text: #fff;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$color-price: #F94227;


$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;